/* #region common */

* {
    box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
color: #2e2f42;
background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* #endregion common */

/* #region header */



.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-header .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
}

.contacts {
    font-style: normal;
}

/* #endregion header */

.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 496px;
    margin: auto;
}

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
         url(/images/people-office-hero.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 600px;
    background-size: cover;
}

.hero-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: none;
    text-align: center;
    white-space: nowrap;
    display: block;
    margin: 48px auto 0 auto;
    cursor: pointer;

}

.hero-button:hover,
.hero-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* features */

.hero-second {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.icon-wrapper {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: 264px;
}


.third-header {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-section {
    background: #f4f4fd;
}

.second-header {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 72px auto;
}

.team-section {
    padding-bottom: 120px;
    padding-top: 120px;
}


.team-list {
    display: flex;
    gap: 24px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: 264px;
    border-radius: 0 0 4px 4px;
}


.card-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 264px;
}

.photo-container {
    padding: 32px, 16px;
}

.team-section .third-header {
    text-align: center;
    margin: auto;
}

.team-section .descr {
    text-align: center;
    margin-top: 8px;
}

.social-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.team-icon {
    fill: #f4f4fd;
}

.icon {
    fill: #2e2f42;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.portfolio-section .second-header {
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list .portfolio-item {
    flex: 0 0 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.portfolio-border {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc; 
    padding: 32px 16px;
    width: 360px;
    
}

.portfolio-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-top: 8px;
    }

    .portfolio-item {
        background: #fff;
        width: 360px;
    }

.logo-footer .logo-part {
    color: #f4f4fd;
}

.logo-footer {
    display: block;
    margin-bottom: 16px;
}

.footer-hero {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-hero .descr {
    color: #f4f4fd;
    width: 264px;

}